.option {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  align-items: center;
  gap: 8px;
  width: 400px;
  height: 180px;
  justify-content: center;
  padding: 24px;
  .check {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 24px;
    height: 24px;
    border: 1px solid var(--white);
    border-radius: 50%;
  }
  .check.checked {
    background-color: var(--white);
  }
}
