.selectProduct {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.productInput,
.examples {
  width: 850px;
  align-self: center;
}
.productInput {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.input {
  position: relative;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 12px;
  padding: 24px;
  display: flex;
  gap: 16px;
}
.input > :first-child {
  flex-grow: 1;
}

.division {
  width: 2px;
  background-color: var(--light-gray);
  height: 100%;
}

.icons {
  display: flex;
  position: relative;
  right: 24px;
  justify-content: space-between;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.icon > :nth-child(2) {
  position: relative;
  bottom: 12px;
}

.priceTag {
  position: absolute;
  right: 8px;
  top: 12px;
}

.icon:hover {
  background-color: var(--primary-light);
  border-radius: 12px;
}
