.container {
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 16px;
  width: 850px;

  align-items: center;
  .content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .footer {
    width: 100%;
  }
}
