.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  gap: 16px;
}

.radioContainer {
  background-color: var(--background);
  padding: 16px;
  width: 300px;
}
