* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-ExtraLight.ttf);
  font-weight: 300;
}

@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter-ExtraBold.ttf);
  font-weight: 800;
}

html,
body {
  font-size: 18px;
  font-family: "poppins", sans-serif !important;
}
img {
  height: auto;
  object-fit: cover;
}
:root {
  --white: #c4c4c4;
  --white-transparent: #ffffff3b;
  --yellow-cream: #f6f4eb;
  --black: #161f32;
  --black-transparent: #1e22265e;
  --light-blue: #749bc2;
  --light-gray: rgba(159, 159, 159, 0.26);
  --gray: #8f8f8f;
  --gray-dark: rgb(83, 83, 83);
  --light-blue-transparent: #ccd6dd;
  --blue: #4682a9;
  --green: rgb(77, 219, 77);
  --light-green: rgb(122, 243, 122);
  --dark-green: #1e2226;
  --primary: #0ecb81;
  --secondary: #1a4789;
  --error: red;
  --primary-dark: #0ecb8334;
  --background: #161f32;
  --background-light: #1c243c;
  --background-dark: rgb(21, 26, 43);
  --background-container: var(--white-transparent);

  --container-border: var(--light-gray);
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 12px;
  }
}
