* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-ExtraLight.ttf);
  font-weight: 300;
}

html,
body {
  font-size: 18px;
  font-family: "poppins", sans-serif;
}
:root {
  --white: #c4c4c4;
  --white-transparent: #ffffff3b;
  --yellow-cream: #f6f4eb;
  --black: #181818;
  --black-transparent: #1e22265e;
  --light-blue: #749bc2;
  --light-gray: rgba(159, 159, 159, 0.26);
  --gray: gray;
  --light-blue-transparent: #ccd6dd;
  --blue: #4682a9;
  --green: rgb(77, 219, 77);
  --light-green: rgb(122, 243, 122);
  --dark-green: #1e2226;
  --dark-green-darker: rgb(37, 155, 127);
  --primary: var(--dark-green);
  --primary-darker: var(--dark-green-darker);
  --background: #0d0d0d;
  --background-container: var(--white-transparent);
  --container-border: var(--light-gray);
}
