* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* FONTS REGULAR */
}
@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: lexend;
  src: url(assets/fonts/Lexend-Regular.ttf);
}

/* FONTS BOLD */

@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: lexend;
  src: url(assets/fonts/Lexend-Bold.ttf);
  font-weight: bold;
}

/* FONTS THIN*/

@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-Thin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: lexend;
  src: url(assets/fonts/Lexend-Thin.ttf);
  font-weight: 100;
}

/* FONTS EXTRA LIGHT */

@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: lexend;
  src: url(assets/fonts/Lexend-ExtraLight.ttf);
  font-weight: 200;
}

/* FONTS LIGHT */
@font-face {
  font-family: poppins;
  src: url(assets/fonts/Poppins-ExtraLight.ttf);
  font-weight: 300;
}
@font-face {
  font-family: lexend;
  src: url(assets/fonts/Lexend-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: inter;
  src: url(assets/fonts/Inter-ExtraBold.ttf);
  font-weight: 800;
}

html,
body {
  font-size: 18px;
  font-family: "lexend", sans-serif !important;
}
img {
  height: auto;
  object-fit: cover;
}
:root {
  --white: #f2f2f2;
  --white-transparent: #ffffff3b;
  --yellow-cream: #f6f4eb;
  --black: #383947;
  --black-transparent: #1e22265e;
  --light-blue: #749bc2;
  --light-gray: rgba(159, 159, 159, 0.26);
  --gray: #8f8f8f;
  --gray-dark: rgb(83, 83, 83);
  --light-blue-transparent: #ccd6dd;
  --blue: #4682a9;
  --green: rgb(53, 153, 53);
  --light-green: rgb(122, 243, 122);
  --dark-green: #1e2226;
  --primary: #0a66c2;
  --primary-light: #0a66c225;
  --secondary: #1a4789;
  --error: red;
  --success: var(--green);
  --primary-dark: #0ecb8334;
  --background: #d2d8dd;
  --background-light: #1c243c;
  --background-dark: rgb(21, 26, 43);
  --background-container: var(--white-transparent);

  --container-border: var(--light-gray);
}

@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 12px;
  }
}
